@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Mais informações: </p>
<p>Email: @ViewData["Email"]</p>
<p>Nome: @ViewData["Name"]</p>
<p>Telefone: @ViewData["Phone"]</p>
